doctype html
html(lang="en")
  include common/head.pug
  +head('All URLs!')
  body
    header 
        include common/navbar.pug
        +navbar()
        div.container
          div.row
            div.col-md-6.order-md-1.text-center.text-md-left.pr-md-5
              h1 Leads
                table.table 
                  thead 
                    tr 
                      th(scope="col") shortUrl
                      th(scope="col") hash
                      th(scope="col") Full Url
                    tr 
                  tbody  
                    for url in urls
                      tr(id=url.id)
                        td
                          if url.shortUrl
                            span #{url.shortUrl} 
                          else 
                            a(href='#') http://www.zachly.com/#{url.hash} 
                        td 
                          span  #{url.hash} 
                        td
                          span #{url.url}
    include common/footer.pug
        +footer()